body {
  font-family: Helvetica;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-color: #FAFAFA;
  color: #5C5C57;
}

#container {
  padding: 50px 0;
  width: 500px;
  margin: 0 auto;
}

.link {
  list-style: none;
  color: #DB5461;
  font-size: 2em;
}

a {
  color: #5C5C57;
  transition: color 500ms
}

a:hover {
  color: #8AA29E;
}